@import './../abstract/variables';
@import './../abstract/mixins';

.panel-content {
    text-align: center;
    .image-container {
        img {
            width: 100%;
            max-width: 300px;
            max-height: 300px;
        }
    }
    .panel-title {
        font-size: $title-font-size;
        font-weight: 600;
        line-height: calc($title-font-size * 1.3);
    }
    .panel-description {
        font-size: $descr-font-size;
        font-weight: 400;
        line-height: calc($descr-font-size * 1.3);
        margin-top: 2.5rem;
    }
}