@import './../abstract/variables';
@import './../abstract/mixins';

.panel-content {
    text-align: center;
    .image-container {
        img {
            width: 35rem;
            height: 35rem;
        }
    }
    .panel-title {
        font-size: $title-font-size;
        font-weight: 600;
        line-height: 3.1rem;
    }
    .panel-description {
        font-size: $descr-font-size;
        font-weight: 400;
        line-height: 2.3rem;
    }
}