@import './../abstract/variables';
@import './../abstract/mixins';

.panel-navigation {
    margin-top: 3rem;
    .nav-report {
        display: flex;
        justify-content: center;
        .nav-dot {
            height: 1.2rem;
            width: 1.2rem;
            margin: 0 1.7rem;
            background: #ffffff;
            border: 1px solid #000000;
            border-radius: 100px;
            &.active {
                background: $main-color;
                border-color: $main-color;
            }
        }
    }
    .nav-continue {
        margin: 3.0rem 0;
        box-shadow: 0px 4px 10px $main-box-shadow;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 5.4rem;
            background: $main-color;
            color: #ffffff;
            text-decoration: none;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.32rem;
            
        }
    }
    .nav-container {
        display: flex;
        justify-content: center;
        .nav-back ~ .nav-skip {
            margin-left: 10rem;
        }
        .nav-back, .nav-skip {
            display: flex;
            justify-content: center;
            a {
                color: $main-color;
                text-decoration: none;
                font-size: 1.8rem;
                line-height: 2.32rem;
            }
        }
    }
}