html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.panels {
  font-family: "Poppins", sans-serif;
}
.panels .panels-container {
  height: 100vh;
  max-width: 45rem;
  overflow: hidden;
  margin: 0 auto;
}
.panels .panels-container .panel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #ffffff;
}
.panels .panels-container .panel .panel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3.5rem;
}
.panels .panels-container .panel.scroll-left .panel-container {
  -webkit-animation: moveFromRight 1s ease both;
  animation: moveFromRight 1s ease both;
}
.panels .panels-container .panel.scroll-right .panel-container {
  -webkit-animation: moveFromLeft 1s ease both;
  animation: moveFromLeft 1s ease both;
}

@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes moveFromLeft {
  from {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
  }
}
@keyframes moveFromRight {
  from {
    transform: translateX(100%);
  }
}
.panel-content {
  text-align: center;
}
.panel-content .image-container img {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
}
.panel-content .panel-title {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.12rem;
}
.panel-content .panel-description {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.34rem;
  margin-top: 2.5rem;
}

.panel-navigation .nav-report {
  display: flex;
  justify-content: center;
  margin: 45px 0;
  list-style: none;
}
.panel-navigation .nav-report .nav-dot {
  display: block;
  box-sizing: initial;
  height: 12px;
  width: 12px;
  margin: 0 17px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 100px;
}
.panel-navigation .nav-report .nav-dot.active {
  background: #92E3A9;
  border-color: #92E3A9;
}
.panel-navigation .nav-continue {
  box-shadow: 0px 4px 10px #A1C3FC;
}
.panel-navigation .nav-continue a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5.4rem;
  background: #92E3A9;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.32rem;
}
.panel-navigation .nav-container {
  display: flex;
  justify-content: center;
  margin-top: 42px;
}
.panel-navigation .nav-container .nav-back ~ .nav-skip {
  margin-left: 10rem;
}
.panel-navigation .nav-container .nav-back, .panel-navigation .nav-container .nav-skip {
  display: flex;
  justify-content: center;
}
.panel-navigation .nav-container .nav-back a, .panel-navigation .nav-container .nav-skip a {
  color: #92E3A9;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.32rem;
}

@media (max-width: 512px) {
  .panels .panels-container .panel .panel-container {
    padding: 0 30px;
  }
  .panel-content .panel-title {
    font-size: 2.16rem;
    line-height: 2.808rem;
  }
  .panel-content .panel-description {
    font-size: 1.62rem;
    line-height: 2.106rem;
  }
  .panel-navigation .nav-report {
    margin: 45px 0;
  }
}
@media (max-width: 320px) {
  .panels .panels-container .panel .panel-container {
    padding: 0 25px;
  }
  .panel-content .panel-title {
    font-size: 2.04rem;
    line-height: 2.652rem;
  }
  .panel-content .panel-description {
    font-size: 1.53rem;
    line-height: 1.989rem;
  }
  .panel-navigation .nav-report {
    margin: 35px 0;
  }
}/*# sourceMappingURL=style.css.map */